@font-face {
    font-family: 'p5';
    src: url('/resources/p5.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: url('/img/normal.png'), auto;
}

body {
    background: #000 repeating-linear-gradient(45deg, #000, #000 10px, rgba(227, 6, 21, 0.089) 10px, rgba(227, 6, 19, .05) 20px);
    color: #CCC;
    text-align: center;
}

a,
button,
img,
li,
.menu-item {
    cursor: url('/img/link.png'), pointer;
}

h1 {
    font-family: 'p5', sans-serif;
    color: #E30613;
    font-size: 10vh;
    text-transform: uppercase;
    margin-top: 12vh;
}

h2 {
    color: #E30613;
    text-shadow: black 1px 1px 1px;
    font-size: 3vh;
    font-weight: 300;
    text-transform: uppercase;
}

hr {
    width: 40vw;
    height: .4vh;
    border: 0;
    background: linear-gradient(90deg, transparent, #E30613, transparent);
    margin: 2.5vh auto;
}

p {
    max-width: 75vh;
    margin: 1vh auto;
}

.lista-numerada,
.lista-marcada {
    max-width: 75vw;
    margin: 3vh auto;
    text-align: left;
    background: linear-gradient(135deg, #1a1a1a, #0a0a0a);
    border: .1vh solid #E30613;
    padding: 1vh 3vh 1vh 7vh;
    box-shadow: 0 .8vh 3.2vh rgba(227, 6, 19, .2);
}

.lista-numerada {
    list-style-type: decimal;
}

.lista-marcada {
    list-style-type: square;
}

.lista-numerada li,
.lista-marcada li {
    padding: 2vh 2vw;
    border-bottom: .1vh solid rgba(227, 6, 19, .2);
    transition: all .3s ease;
}

.lista-numerada li:hover,
.lista-marcada li:hover {
    background: rgba(227, 6, 19, .1);
    color: #E30613;
    padding-left: 3vw;
}