.card-content {
    padding: 1.5vh;
    text-align: left;
}

.patrocinado {
    font-size: 2vh;
    color: #999;
    margin: 1vh 0 1vh 1.5vh;
    text-align: left;
}

.card-content h2 {
    font-size: 2.4vh;
    font-weight: 900;
    line-height: 1.3;
    margin-bottom: 1vh;
}

.preco {
    font-size: 2.2vh;
    margin-bottom: 1vh;
}

.preco .valor {
    font-size: 4.5vh;
    font-weight: 600;
}

.preco sup {
    font-size: 2.2vh;
    vertical-align: super;
}

.preco-antigo {
    color: #999;
    font-size: 2.2vh;
    text-decoration: line-through;
    margin-left: .6vh;
}

.parcelamento,
.entrega,
.estoque {
    font-size: 2vh;
    margin-bottom: 1vh;
}

.entrega strong {
    color: #00A650;
    font-weight: 600;
}

.estoque {
    color: #FF6B6B;
}

.vendedor {
    font-size: 1.9vh;
    color: #999;
    margin-bottom: 1vh;
}

.btn-comprar {
    margin-top: 1vh;
}